registry=https://pkgs.dev.azure.com/kdop/_packaging/ava30/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 08/03/2020.
; begin auth token
//pkgs.dev.azure.com/kdop/_packaging/ava30/npm/registry/:username=kdop
//pkgs.dev.azure.com/kdop/_packaging/ava30/npm/registry/:_password=YnJlNTV3Mm43YnNzZnZweXpiZXZjZzN0anVjNm5qdGg2bDNpaXZvb2pxczJ6dXhlbm92cQ==
//pkgs.dev.azure.com/kdop/_packaging/ava30/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/kdop/_packaging/ava30/npm/:username=kdop
//pkgs.dev.azure.com/kdop/_packaging/ava30/npm/:_password=YnJlNTV3Mm43YnNzZnZweXpiZXZjZzN0anVjNm5qdGg2bDNpaXZvb2pxczJ6dXhlbm92cQ==
//pkgs.dev.azure.com/kdop/_packaging/ava30/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
